<div *ngIf="!isCustomerLoggedIn && !isAdminLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">Futur</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/order" routerLinkActive="active">Choix</button>
    <button mat-button routerLink="/signup" routerLinkActive="active">Sign Up</button>
    <button mat-button routerLink="/login" routerLinkActive="active">Login</button>
  </mat-toolbar>
</div>

<div *ngIf="isAdminLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">Futur</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</button>
    <button mat-button routerLink="/admin/analytics" routerLinkActive="active">Analytics</button>
    <button mat-button routerLink="/admin/category" routerLinkActive="active">Category</button>
    <button mat-button routerLink="/admin/product" routerLinkActive="active">Need</button>
    <button mat-button routerLink="/admin/orders" routerLinkActive="active">Mes Choix</button>
    <button mat-button routerLink="/admin/post-coupon" routerLinkActive="active">Post Offre Scolarite</button>
    <button mat-button routerLink="/admin/coupon" routerLinkActive="active">Offre</button>
    <button mat-button routerLinkActive="active" (click)="logout()">Logout</button>
  </mat-toolbar>
</div>

<div *ngIf="isCustomerLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">Futur</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/customer/dashboard" routerLinkActive="active">Dashboard</button>
    <button mat-button routerLink="/customer/cart" routerLinkActive="active">Cart</button>
    <button mat-button routerLink="/customer/my_orders" routerLinkActive="active">Choix</button>
    <button mat-button routerLink="/customer/wishlist" routerLinkActive="active">Wishlist</button>
    <button mat-button routerLink="/customer/profile" routerLinkActive="active">Profile</button>
    <button mat-button routerLinkActive="active" (click)="logout()">Logout</button>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>
